.bai2{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 10px;
}

.bai3_1{
    height: 250px;
    width: 300px;
}

.bai3_2{
    height: 360px;
    width: 700px;
}

.bai4_1{
    height: 150px;
    width: 200px;
}

.bai4_2{
    height: 520px;
    width: 200px;
}

.bai5_a{
    height: 700px;
    width: 500px;
}

.bai5_b{
    height: 600px;
    width: 500px;
}

.bai6_a table{
    background-color:antiquewhite;
}

.bai6_a table, .bai6_a td, .bai6_a tr{
    border: 2px solid  black;
    padding: 30px;
    text-align: center;
}

.bai6_a table{
    display: block;
}

.bai6_b table{
    background-color: sandybrown;
}

.bai6_b table, .bai6_b td, .bai6_b tr{
    border: 1px solid black;
    padding: 5px;
}

.bai6_c{
    height: 270px;
    width: 420px;
}

.bai6_c table{
    background-color: purple;
}

.bai6_c table, .bai6_c td, .bai6_c tr, .bai6_c th{
    border: 2px solid blueviolet;
    padding: 10px;
    border-collapse: collapse;
}

.bai6_c tr td{
    background-color: pink;
}

.bai6_c tr td:first-child{
    background-color: aqua;
}

.bai7{
    height: 480px;
    width: 700px;
    padding: 10px;

}

.bai7 img{
    height: 70px;
    width: 70px;
}


.bai9 table, .bai9 th, .bai9 td, .bai9 tr{
    border: 1px solid orange;
    background-color:yellow;
    text-align: center;

}
.bai9 th{
    background-color: aqua;
    padding: 10px 2px;
}

.bai9 tr, .bai9 td{
    padding: 1px;
}



