.main{
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
.item{
    padding: 10px;
    flex-direction: column;
}

img{
    margin-bottom: 5px;
    border: 1px solid black;
}

img:hover{
    zoom: 1.2;
}