.container, row {
    width: 100%;
}
.row{
    margin: auto;
}
.row:before, row:after {
    display: table; content: "";
}
.row:after {
    clear: both;
}
.row{
    float: left; 
    width:25.3333333333; 
    margin:1%; 
    padding:1%;
} 

.col1, .col2, .col3{
    width: 300px;
    margin-bottom: 50px;
}